@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 90%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

html body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
/*  NAV SECTION STARTS 
=====================================================================================
*/
.custom-nav {
  background-color: white;
}

.logo img {
  width: 72px;
  height: 62px;
}

.navbtn {
  background: transparent;
  border: none;
  font-size: 2em;
  padding-right: 0.3em;
  position: relative;
  bottom: 0.1em;
}

.nav-bar-ul ul li a {
  color: black;
  font-size: 1.2em;
}

.nav-bar-ul ul li a:hover {
  color: #e5ccc6;
}
/*  MAIN SECTION START
 =====================================================================================
*/
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  background-image: url(about-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main h1 {
  font-size: 9em;
  padding-top: 1em;
  padding-bottom: 0.2em;
}
main p {
  font-size: 1.7em;
  padding-right: 8em;
  padding-left: 8em;
  padding-bottom: 3em;
  line-height: 1.8em;
}
/*  FOOTER SECTION START
=====================================================================================
*/
.footer-row {
  background-color: #484f5b;
  height: 30vh;
  color: white;
}
.footer-row ul li {
  list-style-type: none;
  text-align: center;
  padding-right: 2em;
}
.footer-row ul {
  text-align: center;
}
#footer-logo {
  padding-top: 1em;
  padding-bottom: 1em;
}
#company-details {
  padding-bottom: 2em;
}
#company-details a {
  text-decoration: none;
  color: white;
}
#company-details p {
  padding-bottom: 1.5em;
}
#footer-copy-social i {
  font-size: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* MEDIA QUERIES 
=====================================================================================
*/
@media (min-width: 992px) {
  .navbtn {
    display: none;
  }
  .nav-bar-ul ul li {
    padding-right: 2.3em;
  }
  .nav-bar-ul ul li a {
    font-size: 1.35em;
  }
}
@media (max-width: 1500px) {
  main {
    background-color: #e5ccc6;
  }
  #footer-copy-social i {
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
}

@media (max-width: 992px) {
  main {
    background-color: #e5ccc6;
  }
  main h1 {
    padding-top: 2em;
    font-size: 6em;
  }
  main p {
    font-size: 1.4em;
    padding-right: 6em;
    padding-left: 6em;
  }
  .footer-row {
    height: 120vh;
  }
}
@media (max-width: 768px) {
  main h1 {
    font-size: 5em;
  }
  main p {
    font-size: 1.3em;
    padding-right: 3em;
    padding-left: 3em;
  }
  .footer-row {
    height: 120vh;
  }
}

@media (max-width: 576px) {
  main h1 {
    font-size: 4em;
    padding-top: 2em;
  }
  main p {
    font-size: 1.2em;
    padding-right: 2em;
    padding-left: 2em;
  }
  .footer-row {
    height: 120vh;
  }
}
